Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Shazij84 
merin83
/
react-gitignore
Public
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
Insights
react-gitignore/.gitignore
@merin83
merin83 copy issue fixed
Latest commit 25c21b1 on 25 Jul 2019
 History
 1 contributor
43 lines (37 sloc)  493 Bytes
   

# dependencies
/node_modules
/.pnp
.pnp.js
.next

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# If Packages have their independent repo
# /packages

# ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
dist
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete